/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}



/* ALGEMENE STYLING */

html,
body {
    height: 100%;
    margin: 0;
    background-color: #b5814e;
    background-color: #847dc7;
    background-color: white;
    /*     background-image: url(https://images.unsplash.com/photo-1588421874990-1fe162747f9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);*/
    /*    background-image: url(https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);*/
    /*    background-image: url(https://images.unsplash.com/photo-1611072337226-1140ab367200?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1576&q=80);*/
    /*    background-image: url(https://images.unsplash.com/photo-1594922234647-4ade6282c369?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);*/
    /*    background-image: url(https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80);*/
    /*background-image: linear-gradient(to right top, #b453ff, #9851fb, #7a4ff6, #554df1, #124beb);*/
    /*    background-image: linear-gradient(to left top, #e777ff, #b990ff, #89a2ff, #5fafff, #46b7ff);*/
    background-image: var(--kleurAchtergrondBody);
    /*    background-size: 60em 60em;*/
}

button:not([disabled]) {
    cursor: darkgrey;
}

main {
    height: 10em;
}

:root {
    --kleurAchtergrondBody: linear-gradient(to left top, #9a77ff, #835eee, #6c44dc, #5428cb, #3800b9);
    --kleurLa: white;
    --schaduwLa: inset 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
    --schaduwLaKnop: inset 0px 10px 6px 1px rgba(0, 0, 0, 0.1);
    --randGameBoy1989Pocket: 0.5em 0.5em 2em 0.5em / 0.5em 0.5em 2em 0.5em;
    --kleurKnoppenGameboy: black;
    --kleurDpad: #121421;
    --kleurGame: #B9B4B6;
    --kleurGamePlekMerk: linear-gradient(silver 20%, #b5b5b5 56%, silver 90%) no-repeat;
    --schaduwLuidsprekerGameBoy1989: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
    --kleurGameBoyAdvanceSP: #3059D4;
    --kleurGameBoySchermLicht: #A6B5B2;
    --kleurGameBoy1989Blauw: #1C2162;
    --kleurGameBoyABGrijs: #696969;
    --kleurNintendoDSWit: white;
}

@media (prefers-color-scheme:dark) {
    :root {
        --kleurAchtergrondBody: linear-gradient(to right top, #000b7a, #1a0876, #270571, #30026d, #370069);
    }
}



/* DE OUDE LA */

/* La zijkant en onderkant*/
article:nth-of-type(1) {
    position: relative;
    width: 70em;
    height: 40em;
    left: 10em;
    background-color: #c2c2c2;
    background-color: #e0e0e0;
    border-style: solid;
    border-color: var(--kleurLa);
    border-width: 0 5em;
    box-shadow: var(--schaduwLa);
}

/* La voorkant*/
article:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 75em;
    height: 5em;
    top: 100%;
    left: -7.5em;
    background-color: var(--kleurLa);
}

/* La knop*/
article:nth-of-type(1)::before {
    content: "";
    position: absolute;
    width: 6em;
    height: 2em;
    top: 112.5%;
    left: 27em;
    background-color: var(--kleurLa);
    box-shadow: var(--schaduwLaKnop);
    z-index: 10;
}



/* GAME BOY 1989 */

/* Game Boy 1989 behuizing*/
 article:nth-of-type(2) {
    position: relative;
    height: 16em;
    width: 10em;
    top: -38em;
    left: 17em;
    background-color: #C1BEB9;
    border-radius: var(--randGameBoy1989Pocket);
    box-shadow:
        inset -.20em -.25em .25em darkgrey,
        inset .25em .25em .25em rgb(255 255 255),
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Game Boy 1989 scherm rand */
article:nth-of-type(2) section:nth-of-type(1) {
    position: absolute;
    width: 8.36em;
    height: 6em;
    top: 1em;
    left: 0.85em;
    z-index: 1;
    background-color: #5A5664;
    border-radius: 0.1em 0em 1em 0em / 0em 0em 1em 0em;
}

/* Game Boy 1989 scherm */
article:nth-of-type(2) div:nth-of-type(1) {
    position: absolute;
    width: 5.36em;
    height: 4.9em;
    top: 0.5em;
    left: 1.5em;
    background-color: #4E5F17;
    z-index: 1;
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Game Boy 1989 naam */
article:nth-of-type(2) h1:nth-of-type(1) {
    position: absolute;
    font-family: Gloria Hallelujah, sans-serif;
    font-size: 10px;
    top: 10.6em;
    left: 1.3em;
    color: var(--kleurGameBoy1989Blauw);
}

article:nth-of-type(2) h1:nth-of-type(1)::after {
    content: "GAME BOY";
    font-size: 11px;
    font-weight: 400;
    color: var(--kleurGameBoy1989Blauw);
}

/* Game Boy 1989 button A */
article:nth-of-type(2) button:nth-of-type(1) {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 9.55em;
    top: 11.5em;
    border-radius: 50%;
    background-color: #7F0947;
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(2) button:nth-of-type(1)::after {
    content: "A";
    position: absolute;
    top: 2.8em;
    left: 2.2em;
    font-size: 7px;
    font-weight: bold;
    color: var(--kleurGameBoy1989Blauw);
    transform: rotate(-30deg);
}

article:nth-of-type(2) button:nth-of-type(1):hover {
    cursor: pointer;
}


article:nth-of-type(2) button:nth-of-type(1):active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy 1989 button B */
article:nth-of-type(2) button:nth-of-type(2) {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 7.8em;
    top: 12.4em;
    border-radius: 50%;
    background-color: #7F0947;
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(2) button:nth-of-type(2)::after {
    content: "B";
    position: absolute;
    top: 2.8em;
    left: 2.2em;
    color: var(--kleurGameBoy1989Blauw);
    font-size: 7px;
    font-weight: bold;
    transform: rotate(-30deg);
}

article:nth-of-type(2) button:nth-of-type(2):hover {
    cursor: pointer;
}

article:nth-of-type(2) button:nth-of-type(2):active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy 1989 button select */
article:nth-of-type(2) button:nth-of-type(3) {
    position: absolute;
    width: 1.5em;
    height: 0.4em;
    left: 4em;
    top: 15.5em;
    background-color: #6C6C74;
    border-radius: 40%;
    border-style: none;
    transform: rotate(-30deg);
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(2) button:nth-of-type(3)::after {
    content: "SELECT";
    position: relative;
    left: -1em;
    color: var(--kleurGameBoy1989Blauw);
    font-size: 5px;
    font-weight: bold;
}

article:nth-of-type(2) button:nth-of-type(3):hover {
    cursor: pointer;
}

article:nth-of-type(2) button:nth-of-type(3):active {
    cursor: pointer;
    box-shadow: inset 0px 0.1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy 1989 button start */
article:nth-of-type(2) button:nth-of-type(4) {
    position: absolute;
    width: 1.5em;
    height: 0.4em;
    left: 6em;
    top: 15.5em;
    border-radius: 40%;
    background-color: #6C6C74;
    border-style: none;
    transform: rotate(-30deg);
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(2) button:nth-of-type(4)::after {
    content: "START";
    position: relative;
    left: -0.6em;
    color: var(--kleurGameBoy1989Blauw);
    font-size: 5px;
    font-weight: bold;
}

article:nth-of-type(2) button:nth-of-type(4):hover {
    cursor: pointer;
}

article:nth-of-type(2) button:nth-of-type(4):active {
    cursor: pointer;
    box-shadow: inset 0px 0.1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy 1989 dpad */
#dpad {
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    left: 1.1em;
    top: 10em;
    background: var(--kleurDpad);
    border-radius: 0.15em;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

#dpad div {
    position: absolute;
    width: 0.8em;
    height: 2.2em;
    left: 0.7em;
    top: -0.7em;
    background: var(--kleurDpad);
    border-radius: 0.15em;
    border: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

/* Game Boy 1989 luidspreker*/
article:nth-of-type(2) section:nth-of-type(3) {
    position: absolute;
    left: 5.8em;
    top: 8.4em;
    margin-top: 6.1em;
    transform: rotate(-35deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}

article:nth-of-type(2) section:nth-of-type(3) div:nth-of-type(1) {
    display: none;
}

article:nth-of-type(2) section:nth-of-type(3) div:nth-of-type(2) {
    position: absolute;
    width: 0.25em;
    height: 1.6em;
    margin-left: 0.6em;
    background: radial-gradient(#b3b3b3, #757573);
    border-radius: 1em;
    box-shadow: var(--schaduwLuidsprekerGameBoy1989);
}

article:nth-of-type(2) section:nth-of-type(3) div:nth-of-type(3) {
    position: absolute;
    width: 0.25em;
    height: 1.6em;
    margin-left: 1.24em;
    border-radius: 1em;
    background: radial-gradient(#b3b3b3, #757573);
    box-shadow: var(--schaduwLuidsprekerGameBoy1989);
}

article:nth-of-type(2) section:nth-of-type(3) div:nth-of-type(4) {
    position: absolute;
    width: 0.25em;
    height: 1.6em;
    margin-left: 1.86em;
    border-radius: 1em;
    background: radial-gradient(#b3b3b3, #757573);
        box-shadow: var(--schaduwLuidsprekerGameBoy1989);
}

article:nth-of-type(2) section:nth-of-type(3) div:nth-of-type(5) {
    position: absolute;
    width: 0.25em;
    height: 1.6em;
    margin-left: 2.5em;
    border-radius: 1em;
    background: radial-gradient(#b3b3b3, #757573);
    box-shadow: var(--schaduwLuidsprekerGameBoy1989);
}

article:nth-of-type(2) section:nth-of-type(3) div:nth-of-type(6) {
    position: absolute;
    width: 0.25em;
    height: 1.6em;
    margin-left: 3.14em;
    border-radius: 1em;
    background: radial-gradient(#b3b3b3, #757573);
    box-shadow: var(--schaduwLuidsprekerGameBoy1989);
}



/* GAME BOY POCKET */

/* Game Boy Pocket behuizing */
article:nth-of-type(3) {
    position: relative;
    width: 10em;
    height: 16em;
    top: -54em;
    left: 30em;
    background-color: #F4D405;
    border-radius: var(--randGameBoy1989Pocket);
    transform: rotate(-2deg);
    box-shadow:
        inset -.20em -.25em .25em #a89200,
        inset .25em .25em .25em rgb(222, 193, 0),
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Game Boy Pocket scherm rand */
article:nth-of-type(3) section:nth-of-type(1) {
    position: absolute;
    width: 8.45em;
    height: 7.3em;
    top: 1em;
    left: 0.77em;
    background-color: black;
    z-index: 1;
    border-radius: 0.1em 0em 1em 0em / 0em 0em 1em 0em;
}

/* Game Boy Pocket scherm  */
article:nth-of-type(3) div:nth-of-type(1) {
    position: absolute;
    width: 6em;
    height: 5.7em;
    top: 0.64em;
    left: 1.26em;
    background-color: #556258;
    border-radius: 0.3em;
    z-index: 1;
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Game Boy Pocket naam */
article:nth-of-type(3) h1 {
    position: absolute;
    top: 16.5em;
    left: 4.7em;
    font-family: Gloria Hallelujah, sans-serif;
    font-size: 7px;
    font-weight: 100;
    color: grey;
    z-index: 1;
}

article:nth-of-type(3) h1::after {
    content: "Pocket";
    color: gray;
    font-size: 6px;
    font-weight: 400;
}

article:nth-of-type(3) h1::before {
    content: "NINTENDO";
    position: absolute;
    width: 8em;
    left: 5.5em;
    top: -2em;
    color: #c9af00;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    border: 0.3em solid #c9af00;
    border-radius: 11px;
}

/* Game Boy Pocket button A */
article:nth-of-type(3) button:nth-of-type(1) {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 9.55em;
    top: 11.5em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(3) button:nth-of-type(1)::after {
    content: "A";
    position: absolute;
    top: 2.8em;
    left: 2.2em;
    color: black;
    font-size: 7px;
    font-weight: bold;
    transform: rotate(-30deg);
}

article:nth-of-type(3) button:nth-of-type(1):hover {
    cursor: pointer;
}


article:nth-of-type(3) button:nth-of-type(1):active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #a89200;
}

/* Game Boy Pocket button B */
article:nth-of-type(3) button:nth-of-type(2) {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 7.8em;
    top: 12.4em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(3) button:nth-of-type(2)::after {
    content: "B";
    position: absolute;
    top: 2.8em;
    left: 2.2em;
    color: black;
    font-size: 7px;
    font-weight: bold;
    transform: rotate(-30deg);
}

article:nth-of-type(3) button:nth-of-type(2):hover {
    cursor: pointer;
}

article:nth-of-type(3) button:nth-of-type(2):active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #a89200;
}

/* Game Boy Pocket button select */
article:nth-of-type(3) button:nth-of-type(3) {
    position: absolute;
    width: 1.5em;
    height: 0.4em;
    left: 4.4em;
    top: 15.5em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 25%;
    border-style: none;
    transform: rotate(0deg);
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(3) button:nth-of-type(3)::after {
    content: "SELECT";
    position: relative;
    left: -1em;
    color: black;
    font-size: 5px;
    font-weight: bold;
}

article:nth-of-type(3) button:nth-of-type(3):hover {
    cursor: pointer;
}

article:nth-of-type(3) button:nth-of-type(3):active {
    cursor: pointer;
    box-shadow: inset 0px 0.1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy Pocket button start */
article:nth-of-type(3) button:nth-of-type(4) {
    position: absolute;
    width: 1.5em;
    height: 0.4em;
    left: 6.4em;
    top: 15.5em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 25%;
    border-style: none;
    transform: rotate(0deg);
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(3) button:nth-of-type(4)::after {
    content: "START";
    position: relative;
    left: -0.6em;
    color: #1C2162;
    font-size: 5px;
    font-weight: bold;
}

article:nth-of-type(3) button:nth-of-type(4):hover {
    cursor: pointer;
}

article:nth-of-type(3) button:nth-of-type(4):active {
    cursor: pointer;
    box-shadow: inset 0px 0.1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy Pocket dpad */
#dpad {
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    left: 1.1em;
    top: 10em;
    background: var(--kleurDpad);
    border: none;
    border-radius: 0.2em;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

/* Game Boy Pocket luidspreker */
article:nth-of-type(3) section:nth-of-type(3) {
    position: absolute;
    left: 5.8em;
    top: 8.4em;
    margin-top: 6.1em;
    transform: rotate(-35deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(1) {
    display: none;
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(2) {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    left: 0.4em;
    top: 0.9em;
    background: radial-gradient(#b3b3b3, #757573);
    margin-left: 0.6em;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(3) {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    left: 0.2em;
    top: 0.7em;
    background: black;
    margin-left: 1.24em;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(3)::after {
    content: "";
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 0.5em;
    left: 0em;
    background: black;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(4) {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 0.5em;
    background: radial-gradient(#b3b3b3, #757573);
    margin-left: 1.86em;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(4)::after {
    position: absolute;
    content: "";
    width: 0.3em;
    height: 0.3em;
    top: 0.5em;
    left: 0em;
    background: radial-gradient(#b3b3b3, #757573);
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(4)::before {
    content: "";
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 1em;
    left: 0em;
    background: radial-gradient(#b3b3b3, #757573);
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(5) {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 0.8em;
    left: -0.2em;
    background: black;
    margin-left: 2.5em;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(5)::after {
    content: "";
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: 0.5em;
    left: 0em;
    background: black;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

article:nth-of-type(3) section:nth-of-type(3) div:nth-of-type(6) {
    position: absolute;
    background: radial-gradient(#b3b3b3, #757573);
    width: 0.3em;
    height: 0.3em;
    top: 1.1em;
    left: -0.4em;
    margin-left: 3.14em;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}



/* GAME BOY COLOR*/

/* Game Boy Color behuizing */
article:nth-of-type(4) {
    position: relative;
    width: 10em;
    height: 17em;
    top: -70em;
    left: 44em;
    background-color: #EA2642;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    box-shadow:
        inset -.20em -.25em .25em #b0152c,
        inset .25em .25em .25em #b0152c,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Game Boy Color scherm rand */
article:nth-of-type(4) section:nth-of-type(1) {
    position: absolute;
    width: 8.45em;
    height: 7.3em;
    top: 1em;
    left: 0.77em;
    background-color: black;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50% 10px;
    border-bottom-right-radius: 50% 10px;
}

/* Game Boy Color scherm */
article:nth-of-type(4) div:nth-of-type(1) {
    position: absolute;
    width: 5.3em;
    height: 4.8em;
    top: 0.8em;
    left: 1.57em;
    background-color: var(--kleurGameBoySchermLicht);
    z-index: 1;
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Game Boy Color naam */
article:nth-of-type(4) h1 {
    position: absolute;
    top: 13.4em;
    left: 4.7em;
    font-size: 8px;
    font-weight: bold;
    font-style: italic;
    font-family: Gloria Hallelujah, sans-serif;
    color: #98B8C5;
    z-index: 1;
}

article:nth-of-type(4) span:nth-of-type(1) {
    position: relative;
    left: 6.6em;
    top: 8.4em;
    font-family: 'Kalam', cursive;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    color: #BB4B7E;
    z-index: 1;
}

article:nth-of-type(4) span:nth-of-type(2) {
    position: relative;
    top: 8.4em;
    left: 6.2em;
    font-style: italic;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Kalam', cursive;
    color: #6E77B8;
    z-index: 1;
}

article:nth-of-type(4) span:nth-of-type(3) {
    position: relative;
    top: 8.4em;
    left: 5.9em;
    font-family: 'Kalam', cursive;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    color: #96D096;
    z-index: 1;
}

article:nth-of-type(4) span:nth-of-type(4) {
    position: relative;
    top: 8.4em;
    left: 5.5em;
    font-family: 'Kalam', cursive;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    color: yellow;
    z-index: 1;
}

article:nth-of-type(4) span:nth-of-type(5) {
    position: relative;
    top: 8.4em;
    left: 5.1em;
    font-family: 'Kalam', cursive;
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    color: #0DA9C7;
    z-index: 1;
}

article:nth-of-type(4) h1::before {
    content: "NINTENDO";
    position: absolute;
    width: 8em;
    left: 4.3em;
    top: -1em;
    color: #800819;
    font-weight: bold;
    font-size: 5px;
    text-align: center;
    margin-top: 30px;
    border: 0.3em solid #800819;
    border-radius: 11px;
}

/* Game Boy Color button A */
article:nth-of-type(4) button:nth-of-type(1) {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 9.55em;
    top: 11.5em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(4) button:nth-of-type(1)::after {
    content: "A";
    position: absolute;
    top: 0.95em;
    left: 1.15em;
    color: var(--kleurGameBoyABGrijs);
    font-size: 7px;
    font-weight: bold;
}

article:nth-of-type(4) button:nth-of-type(1):hover {
    cursor: pointer;
}

article:nth-of-type(4) button:nth-of-type(1):active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #b0152c;
}

/* Game Boy Color button B */
article:nth-of-type(4) button:nth-of-type(2) {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 7.8em;
    top: 12.4em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(4) button:nth-of-type(2)::after {
    content: "B";
    position: absolute;
    left: 1.1em;
    top: 0.95em;
    color: var(--kleurGameBoyABGrijs);
    font-size: 7px;
    font-weight: bold;
}

article:nth-of-type(4) button:nth-of-type(2):hover {
    cursor: pointer;
}

article:nth-of-type(4) button:nth-of-type(2):active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #b0152c;
}

/* Game Boy Color button select */
article:nth-of-type(4) button:nth-of-type(3) {
    position: absolute;
    width: 1.5em;
    height: 0.4em;
    left: 4.3em;
    top: 15.5em;
    border-radius: 25%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    transform: rotate(0deg);
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(4) button:nth-of-type(3)::after {
    content: "SELECT";
    position: relative;
    left: -1em;
    color: #800819;
    font-size: 5px;
    font-weight: bold;
}

article:nth-of-type(4) button:nth-of-type(3):hover {
    cursor: pointer;
}

article:nth-of-type(4) button:nth-of-type(3):active {
    cursor: pointer;
    box-shadow: inset 0px 0.1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy Color button start */
article:nth-of-type(4) button:nth-of-type(4) {
    position: absolute;
    width: 1.5em;
    height: 0.4em;
    left: 6.3em;
    top: 15.5em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 25%;
    border-style: none;
    transform: rotate(0deg);
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(4) button:nth-of-type(4)::after {
    content: "START";
    position: relative;
    left: -0.6em;
    color: #800819;
    font-size: 5px;
    font-weight: bold;
}

article:nth-of-type(4) button:nth-of-type(4):hover {
    cursor: pointer;
}

article:nth-of-type(4) button:nth-of-type(4):active {
    cursor: pointer;
    box-shadow: inset 0px 0.1px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Game Boy Color dpad */
#dpad {
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    left: 1.1em;
    top: 10em;
    background: var(kleurDpad);
    border: none;
    border-radius: 0.2em;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

/*
article:nth-of-type(4) section:nth-of-type(3) {
    position: absolute;
    left: 5.8em;
    top: 8.4em;
    margin-top: 6.1em;
    transform: rotate(-35deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}
*/




/* GAME BOY ADVANCE SP*/

/* Game Boy Advance SP behuizing boven */
article:nth-of-type(5) {
    position: relative;
    width: 10.5em;
    height: 9.4em;
    top: -87em;
    left: 60em;
    background-color: var(--kleurGameBoyAdvanceSP);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: rotate(3deg);
    box-shadow:
        inset -.20em -.25em .25em #1a3891,
        inset .25em .25em .25em #1a3891,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Game Boy Advance SP behuizing beneden */
article:nth-of-type(5)::after {
    content: "";
    position: absolute;
    width: 10.5em;
    height: 11em;
    top: 100%;
    background-color: var(--kleurGameBoyAdvanceSP);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:
        inset -.20em -.25em .25em #1a3891,
        inset .25em .25em .25em #1a3891,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Game Boy Advance SP ronde balk */
article:nth-of-type(5) section:nth-of-type(1) div:nth-of-type(2) {
    position: absolute;
    width: 10.5em;
    height: 1.6em;
    left: -0.8em;
    top: 8em;
    z-index: 1;
    background: linear-gradient(#3059D4 20%, #6184ed 56%, #3059D4 90%) no-repeat;
    border-radius: 2em;
    box-shadow:
        inset -.20em -.25em .25em #1a3891,
        inset .25em .25em .25em #1a3891,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Game Boy Advance SP scherm rand */
article:nth-of-type(5) section:nth-of-type(1) {
    position: absolute;
    width: 8.7em;
    height: 6.4em;
    top: 1.3em;
    left: 0.8em;
    background-color: #22252e;
    z-index: 1;
    border-radius: 0.3em;
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Game Boy Advance SP scherm */
article:nth-of-type(5) div:nth-of-type(1) {
    position: absolute;
    width: 7.8em;
    height: 4.9em;
    top: .45em;
    left: 0.47em;
    background-color: var(--kleurGameBoySchermLicht);
    z-index: 1;
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Game Boy Advance SP naam */
article:nth-of-type(5) h1 {
    position: absolute;
    top: 15em;
    left: 6.15em;
    font-size: 7px;
    font-weight: bold;
    font-style: italic;
    font-family: Gloria Hallelujah, sans-serif;
    color: silver;
    z-index: 1;
}

article:nth-of-type(5) h1::before {
    content: "Advance SP";
    position: absolute;
    width: 8em;
    left: 7.1em;
    color: silver;
    font-weight: bold;
    font-size: 6px;
}

/* Game Boy Advance SP button A */
article:nth-of-type(5) button:nth-of-type(1) {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    left: 9.55em;
    top: 16.7em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    z-index: 2;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(5) button:nth-of-type(1)::after {
    content: "A";
    position: absolute;
    top: 0.7em;
    left: 1em;
    color: var(--kleurGameBoyABGrijs);
    font-size: 7px;
    font-weight: bold;
}

article:nth-of-type(5) section:nth-of-type(2) button:hover {
    cursor: pointer;
}

article:nth-of-type(5) section:nth-of-type(2) button:active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #262729;
}

/* Game Boy Advance SP button B */
article:nth-of-type(5) button:nth-of-type(2) {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    left: 7.9em;
    top: 17.58em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    z-index: 2;
}

article:nth-of-type(5) button:nth-of-type(2)::after {
    content: "B";
    position: absolute;
    left: 1em;
    top: 0.75em;
    color: var(--kleurGameBoyABGrijs);
    font-size: 7px;
    font-weight: bold;
}

/* Game Boy Advance SP button select */
article:nth-of-type(5) button:nth-of-type(3) {
    position: absolute;
    width: 0.9em;
    height: 0.9em;
    left: 5em;
    top: 22em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    transform: rotate(0deg);
    z-index: 1;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(5) button:nth-of-type(3)::after {
    content: "SELECT";
    position: relative;
    left: -2em;
    color: #5482de;
    font-size: 5px;
    font-weight: bold;
    top: -3.5em;
}

/* Game Boy Advance SP button start */
article:nth-of-type(5) button:nth-of-type(4) {
    position: absolute;
    width: 0.5em;
    height: 0.9em;
    left: 6.6em;
    top: 22em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    transform: rotate(0deg);
    z-index: 1;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(5) button:nth-of-type(4)::after {
    content: "START";
    position: relative;
    left: -1.7em;
    color: #5482de;
    font-size: 5px;
    font-weight: bold;
    top: -3.5em;
}

article:nth-of-type(5) button:nth-of-type(4):hover {
    cursor: pointer;
}

article:nth-of-type(5) button:nth-of-type(4):active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #262729;
}

/* Game Boy Advance SP button midden */
article:nth-of-type(5) button:nth-of-type(5) {
    position: absolute;
    width: 0.5em;
    height: 0.9em;
    left: 5.8em;
    top: 14em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    transform: rotate(0deg);
    z-index: 1;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

/* Game Boy Advance SP dpad */
article:nth-of-type(5) section:nth-of-type(2) div:nth-of-type(1) {
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    left: 1.3em;
    top: 14.6em;
    background-color: var(--kleurKnoppenGameboy);
    border: none;
    border-radius: 0.2em;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(5) section:nth-of-type(2) div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    background-color: black;
    border: none;
    transform: rotate(90deg);
    border-radius: 0.2em;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

/* Game Boy Advance SP schaduw vorm dpad */
article:nth-of-type(5) section:nth-of-type(2) div:nth-of-type(2) {
    position: absolute;
    width: 3.4em;
    height: 3.4em;
    left: 0.71em;
    top: 13.3em;
    background-color: var(--kleurGameBoyAdvanceSP);
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
}

/* Game Boy Advance SP schaduw vorm A B  */
article:nth-of-type(5) section:nth-of-type(2) div:nth-of-type(3) {
    position: absolute;
    width: 3.6em;
    height: 1.7em;
    left: 6em;
    top: 13.96em;
    background-color: var(--kleurGameBoyAdvanceSP);
    border-top-left-radius: 14px 14px;
    border-top-right-radius: 14px 14px;
    border-bottom-left-radius: 14px 14px;
    border-bottom-right-radius: 14px 14px;
    box-sizing: border-box;
    transform: rotate(-30deg);
    z-index: 1;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
}

/*
article:nth-of-type(5) section:nth-of-type(3) {
    position: absolute;
    left: 5.8em;
    top: 8.4em;
    margin-top: 6.1em;
    transform: rotate(-35deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}
*/




/*GAME BOY MICRO*/

/* Game Boy Micro behuizing buitenkant */
article:nth-of-type(6) {
    position: relative;
    width: 12.7em;
    height: 6.5em;
    left: 17em;
    top: -78.5em;
    background-color: #3d3d3d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:
        inset -.20em -.25em .25em grey,
        inset .25em .25em .25em #3d3d3d,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Game Boy Micro behuizing binnenkant */
article:nth-of-type(6)::after {
    content: "";
    position: absolute;
    width: 12.7em;
    height: 6em;
    top: 0.2em;
    background-color: #242424;
    border-top-left-radius: 200% 50%;
    border-top-right-radius: 200% 50%;
    border-bottom-left-radius: 200% 50%;
    border-bottom-right-radius: 200% 50%;
    box-shadow:
        inset -1px -1px 1px black,
        inset .1px .25px 1px black,
        1em 1em 2em rgb(0 0 0 / .09);
}

/*
article:nth-of-type(6) section:nth-of-type(1) div:nth-of-type(2) {
    position: absolute;
    width: 10.5em;
    height: 1.6em;
    left: -0.8em;
    top: 8em;
    background: red;
    z-index: 1;
    background: linear-gradient(#3059D4 20%, #6184ed 56%, #3059D4 90%) no-repeat;
    border-radius: 2em;
    box-shadow:
        inset -.20em -.25em .25em #1a3891,
        inset .25em .25em .25em #1a3891,
        1em 1em 2em rgb(0 0 0 / .05);
}
*/

/* Game Boy Micro scherm */
article:nth-of-type(6) div:nth-of-type(1) {
    position: absolute;
    width: 5.8em;
    height: 3.9em;
    top: 1.3em;
    left: 3.3em;
    background-color: dimgrey;
    z-index: 1;
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Game Boy Micro button A */
article:nth-of-type(6) button:nth-of-type(1) {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    left: 13.3em;
    top: 2.6em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    z-index: 2;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(6) button:nth-of-type(1)::after {
    content: "A";
    position: absolute;
    top: 0.7em;
    left: 0.85em;
    color: var(--kleurGameBoyABGrijs);
    font-size: 7px;
    font-weight: bold;
}

article:nth-of-type(6) section:nth-of-type(2) button:hover {
    cursor: pointer;
}

article:nth-of-type(6) section:nth-of-type(2) button:active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #262729;
}

/* Game Boy Micro button B */
article:nth-of-type(6) button:nth-of-type(2) {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    left: 11.7em;
    top: 3.3em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    z-index: 2;
}

article:nth-of-type(6) button:nth-of-type(2)::after {
    content: "B";
    position: absolute;
    left: 0.85em;
    top: 0.75em;
    color: var(--kleurGameBoyABGrijs);
    font-size: 7px;
    font-weight: bold;
}

/* Game Boy Micro dpad */
article:nth-of-type(6) section:nth-of-type(2) div:nth-of-type(1) {
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    left: 0.6em;
    top: 2.8em;
    background-color: var(--kleurKnoppenGameboy);
    border: none;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

article:nth-of-type(6) section:nth-of-type(2) div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    background-color: black;
    border: none;
    transform: rotate(90deg);
    box-sizing: border-box;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
}

/* Game Boy Micro luidspreker */
article:nth-of-type(6) section:nth-of-type(3) div:nth-of-type(1) {
    position: absolute;
    width: 0.3em;
    height: 0.15em;
    left: 9.7em;
    top: 5em;
    background: grey;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

article:nth-of-type(6) section:nth-of-type(3) div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 0.3em;
    height: 0.15em;
    left: 0.4em;
    background: grey;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

article:nth-of-type(6) section:nth-of-type(3) div:nth-of-type(1)::before {
    content: "";
    position: absolute;
    width: 0.3em;
    height: 0.15em;
    left: 0.8em;
    background: grey;
    border-radius: 1em;
    box-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.4);
}




/* OUDE GAME 1 */

/* Oude game 1 behuizing */
article:nth-of-type(7) {
    position: absolute;
    width: 7em;
    height: 8em;
    top: 28em;
    left: 18em;
    background-color: var(--kleurGame);
    transform: rotate(-4deg);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.22);
}

/* Game game 1 plek van merk */
article:nth-of-type(7)::before {
    content: "";
    position: absolute;
    width: 6em;
    height: 1.5em;
    left: 0.5em;
    top: 0.5em;
    border-radius: 1em;
    background: var(--kleurGamePlekMerk);
    box-shadow: inset 0px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

/* Game game 1 merk */
article:nth-of-type(7) h1:nth-of-type(1) {
    position: absolute;
    top: 1.5em;
    left: 2.6em;
    font-family: Gloria Hallelujah, sans-serif;
    font-size: 7px;
    color: grey;
}

article:nth-of-type(7) h1:nth-of-type(1)::after {
    content: "GAME BOY";
    font-size: 8px;
    font-weight: 400;
    color: grey;
}

/* Game game 1 plek afbeelding */
article:nth-of-type(7) section:nth-of-type(1) {
    position: absolute;
    width: 5.4em;
    height: 4.4em;
    top: 2.3em;
    left: 0.8em;
    background-color: grey;
    box-shadow: inset 0px 0px 0px 0.56px rgba(0, 0, 0, 0.3);
}

/* Game game 1 pijltje */
article:nth-of-type(7) section:nth-of-type(1)::after {
    position: absolute;
    content: "";
    width: 1.1em;
    height: 0.6em;
    top: 4.7em;
    left: 2.2em;
    background-color: #969294;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
}

/* Game game 1 afbeelding */
article:nth-of-type(7) section:nth-of-type(1) img:nth-of-type(1) {
    position: absolute;
    width: 5.2em;
    height: 4.2em;
    left: 0.1em;
    top: 0.1em;
    background-color: grey;
    border-radius: 0.2em;
    box-shadow: inset 0px 0px 0px 0.56px rgba(0, 0, 0, 0.3);
}




/* OUDE GAME 2*/

/* Game 2 behuizing */
article:nth-of-type(8) {
    position: absolute;
    width: 7em;
    height: 8em;
    top: 30em;
    left: 22em;
    background-color: var(--kleurGame);
    transform: rotate(4deg);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.22);
}

/* Game 2 plek van merk */
article:nth-of-type(8)::before {
    content: "";
    position: absolute;
    width: 6em;
    height: 1.5em;
    left: 0.5em;
    top: 0.5em;
    border-radius: 1em;
    background: var(--kleurGamePlekMerk);
    box-shadow: inset 0px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
}

/* Game 2 merk */
article:nth-of-type(8) h1:nth-of-type(1) {
    position: absolute;
    top: 1.5em;
    left: 2.6em;
    font-family: Gloria Hallelujah, sans-serif;
    font-size: 7px;
    color: grey;
}

article:nth-of-type(8) h1:nth-of-type(1)::after {
    content: "GAME BOY";
    font-size: 8px;
    font-weight: 400;
    color: grey;
}

/* Game 2 plek afbeelding */
article:nth-of-type(8) section:nth-of-type(1) {
    position: absolute;
    width: 5.4em;
    height: 4.4em;
    top: 2.3em;
    left: 0.8em;
    background-color: grey;
    box-shadow: inset 0px 0px 0px 0.56px rgba(0, 0, 0, 0.3);
}

/* Game 2 pijltje */
article:nth-of-type(8) section:nth-of-type(1)::after {
    position: absolute;
    content: "";
    width: 1.1em;
    height: 0.6em;
    top: 4.7em;
    left: 2.2em;
    background-color: #969294;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
}

/* Game 2 afbeelding */
article:nth-of-type(8) section:nth-of-type(1) img:nth-of-type(1) {
    position: absolute;
    width: 5.2em;
    height: 4.2em;
    left: 0.1em;
    top: 0.1em;
    background-color: grey;
    border-radius: 0.2em;
    box-shadow: inset 0px 0px 0px 0.56px rgba(0, 0, 0, 0.3);
}





/* NINTENDO DS */

/* Nintendo DS behuizing bovenkant*/
article:nth-of-type(9) {
    position: relative;
    width: 16.5em;
    height: 9em;
    top: -85em;
    left: 32em;
    background-color: var(--kleurNintendoDSWit);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*
    box-shadow:
 .2em -.25em 1em silver,
 .15em .25em 1em silver,
        1em 1em 2em rgb(0 0 0 / .04);
*/
    box-shadow:
        inset -.20em -.25em .25em silver,
        inset .25em .25em .25em silver,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Nintendo DS behuizing onderkant*/
article:nth-of-type(9)::after {
    content: "";
    position: absolute;
    width: 16.5em;
    height: 10em;
    top: 100%;
    background-color: var(--kleurNintendoDSWit);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:
        inset -.20em -.25em .25em silver,
        inset .25em .25em .25em silver,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Nintendo DS ronde balk*/
article:nth-of-type(9) section:nth-of-type(1) div:nth-of-type(2) {
    position: absolute;
    width: 16.5em;
    height: 1.5em;
    left: -4em;
    top: 7.5em;
    background: red;
    background: linear-gradient(white 20%, white 56%, silver 90%) no-repeat;
    border-radius: 2em;
    z-index: 1;
    box-shadow:
        inset -.20em -.25em .25em silver,
        inset .25em .25em .25em silver,
        1em 1em 2em rgb(0 0 0 / .05);
}

/* Nintendo DS scherm rand bovenkant*/
article:nth-of-type(9) section:nth-of-type(1) {
    position: absolute;
    width: 8.7em;
    height: 6.7em;
    top: 1.3em;
    left: 4em;
    background-color: #f7f7f7;
    z-index: 1;
    border-radius: 0.3em;
    box-shadow: inset 0px 0.5px 0px 1px silver;
}

/* Nintendo DS scherm rand onderkant*/
article:nth-of-type(9) section:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 8.7em;
    height: 6.7em;
    top: 9.8em;
    background-color: #f7f7f7;
    border-radius: 0.3em;
    box-shadow: inset 0px 0.5px 0px 1.1px silver;
}

/* Nintendo DS scherm bovenkant*/
article:nth-of-type(9) section:nth-of-type(1) div:nth-of-type(1) {
    position: absolute;
    width: 7.8em;
    height: 5.8em;
    top: .45em;
    left: .47em;
    background-color: #7F7E83;
    background-color: var(--kleurGameBoySchermLicht);
    z-index: 1;
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Nintendo DS scherm onderkant*/
article:nth-of-type(9) section:nth-of-type(1) div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 7.8em;
    height: 5.8em;
    top: 9.83em;
    background-color: #7F7E83;
    background-color: var(--kleurGameBoySchermLicht);
    box-shadow: inset 0px 0.5px 0px 1px rgba(0, 0, 0, 1);
}

/* Nintendo DS button A */
article:nth-of-type(9) button:nth-of-type(1) {
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    left: 17.8em;
    top: 15.7em;
    background-color: var(--kleurKnoppenGameboy);
    border-radius: 50%;
    border-style: none;
    z-index: 2;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

article:nth-of-type(9) button:nth-of-type(1)::after {
    content: "A";
    position: absolute;
    top: 0.5em;
    left: 0.75em;
    color: var(--kleurNintendoDSWit);
    font-size: 7px;
    font-weight: bold;
}

article:nth-of-type(9) section:nth-of-type(2) button:hover {
    cursor: pointer;
}

article:nth-of-type(9) section:nth-of-type(2) button:active {
    cursor: pointer;
    box-shadow: inset 0px 1px 1px 0px #262729;
}

/* Nintendo DS button B */
article:nth-of-type(9) button:nth-of-type(2) {
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    left: 16.8em;
    top: 16.8em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    z-index: 2;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

article:nth-of-type(9) button:nth-of-type(2)::after {
    content: "B";
    position: absolute;
    left: 0.75em;
    top: 0.5em;
    color: var(--kleurNintendoDSWit);
    font-size: 7px;
    font-weight: bold;
}

/* Nintendo DS button Y */
article:nth-of-type(9) button:nth-of-type(3) {
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    left: 15.8em;
    top: 15.7em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    z-index: 1;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

article:nth-of-type(9) button:nth-of-type(3)::after {
    content: "Y";
    position: absolute;
    left: 0.75em;
    top: 0.5em;
    color: var(--kleurNintendoDSWit);
    font-size: 7px;
    font-weight: bold;
}

/* Nintendo DS button X */
article:nth-of-type(9) button:nth-of-type(4) {
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    left: 16.8em;
    top: 14.6em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    z-index: 1;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

article:nth-of-type(9) button:nth-of-type(4)::after {
    content: "X";
    position: absolute;
    left: 0.75em;
    top: 0.5em;
    color: var(--kleurNintendoDSWit);
    font-size: 7px;
    font-weight: bold;
}

/* Nintendo DS button start */
article:nth-of-type(9) section:nth-of-type(2) button:nth-of-type(5) {
    position: absolute;
    width: 0.9em;
    height: 0.9em;
    left: 15.8em;
    top: 19em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    z-index: 1;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

article:nth-of-type(9) section:nth-of-type(2) button:nth-of-type(5)::after {
    content: "START";
    position: absolute;
    left: 3.6em;
    top: 1em;
    color: grey;
    font-size: 0.3em;
    font-weight: bold;
}

/* Nintendo DS button select */
article:nth-of-type(9) section:nth-of-type(2) button:nth-of-type(6) {
    position: absolute;
    width: 0.9em;
    height: 0.9em;
    left: 15.8em;
    top: 20.2em;
    border-radius: 50%;
    background-color: var(--kleurKnoppenGameboy);
    border-style: none;
    z-index: 1;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

article:nth-of-type(9) section:nth-of-type(2) button:nth-of-type(6)::after {
    content: "SELECT";
    position: absolute;
    left: 3.6em;
    top: 1em;
    color: grey;
    font-size: 0.3em;
    font-weight: bold;
}

/* Nintendo DS dpad */
article:nth-of-type(9) section:nth-of-type(2) div:nth-of-type(1) {
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    left: 1em;
    top: 12.9em;
    background-color: black;
    border: none;
    border-radius: 0.2em;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

article:nth-of-type(9) section:nth-of-type(2) div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 2.2em;
    height: 0.8em;
    background-color: black;
    border: none;
    transform: rotate(90deg);
    border-radius: 0.2em;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px black, 0px 0.1px 2px black;
    box-shadow: 2px 2px 3px -2px black;
}

/* Nintendo DS luidspreker X */
article:nth-of-type(9) section:nth-of-type(3) {
    position: relative;
    display: flex;
    gap: 0.2em;
    top: 4.5em;
    left: 1.5em;
}

article:nth-of-type(9) section:nth-of-type(3) div {
    width: 0.3em;
    height: 0.3em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
}

article:nth-of-type(9) section:nth-of-type(4) {
    position: relative;
    display: flex;
    top: 4.2em;
    left: 13.8em;
    gap: 0.2em;
}

article:nth-of-type(9) section:nth-of-type(4) div {
    justify-content: center;
    align-items: center;
    width: 0.3em;
    height: 0.3em;
    background-color: red;
    border-radius: 50%;
    background-color: black;
}


/* PAPIERTJE */

/* Papiertje zelf */
article:nth-of-type(10) {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 53em;
    top: 24em;
    background: #FAF69B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

/* Papiertje titel */
article:nth-of-type(10) h1 {
    font-size: 13px;
    margin-left: 0.5em;
    font-family: 'Fuzzy Bubbles', cursive;
}

/* Papiertje de rest */
article:nth-of-type(10) p {
    font-size: 9px;
    margin-left: .9em;
    font-family: 'Fuzzy Bubbles', cursive;
}



/* USB */

/* USB behuizing */
article:nth-of-type(11) {
    position: absolute;
    width: 2.4em;
    height: 3.5em;
    top: 30em;
    left: 65em;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    transform: rotate(6deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

/* USB behuizing opslag */
article:nth-of-type(11)::before {
    content: "1GB";
    position: absolute;
    width: 8em;
    left: -1.9em;
    top: -0.8em;
    color: black;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    transform: rotate(270deg);
}

/* USB behuizing bovenkant */
article:nth-of-type(11) section:nth-of-type(1) {
    position: absolute;
    width: 1.8em;
    height: 1.6em;
    top: -1.6em;
    left: 0.28em;
    background-color: silver;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .3);
}

/* USB gat links */
article:nth-of-type(11) section:nth-of-type(1)::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 0.3em;
    top: 0.5em;
    left: 0.3em;
    background-color: #474747;
}

/* USB gat rechts */
article:nth-of-type(11) section:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 0.3em;
    top: 0.5em;
    right: 0.32em;
    background-color: #474747;
}
